In [1]:
import stock
from importlib import reload
reload(stock)

import pandas
import time
import os

## Load list of stocks from files

### Load lists of stocks from Saint-Petersburg stock exchange

In [2]:
stocks1 = pandas.read_csv('data/stocks.spb', sep=';', encoding='cp1251', index_col=6)
stocks1 = pandas.DataFrame(index = stocks1.index, data = {'name': stocks1['e_full_name']})
stocks1.index.name = 'symbol'
stocks1[:5]

                                        name
symbol
SOHU             The Bank of New York Mellon
ALFAperp0222          Alfa Bond Issuance PLC
PRSP                          Perspecta Inc.
WH            Wyndham Hotels & Resorts, Inc.
APY                       Apergy Corporation

### Load lists of stocks from TCS

In [3]:
stocks2 = pandas.read_csv('data/stocks.tcs', index_col=0)
stocks2 = pandas.DataFrame(index = stocks2.index, data = {'name': stocks2['Name']})
stocks2.index.name = 'symbol'
print('Loaded list of %i stocks' % len(stocks2))
stocks2[-5:]

Loaded list of 517 stocks

                                           name
symbol
ZNH     China Southern Airlines Company Limited
ZTS                                 Zoetis Inc.
V                                          Visa
NDAQ                                     Nasdaq
AAPL                                      Apple

### Unite stocks lists

In [4]:
stocks = pandas.concat([stocks1, stocks2])
stocks = stocks.reset_index().drop_duplicates(subset='symbol').set_index('symbol')
stocks = stocks.sort_index()
print('Totaly: %i stocks' % len(stocks))
stocks[:5]

Totaly: 656 stocks

                                name
symbol
A         Agilent Technologies, Inc.
AA                 Alcoa Corporation
AABA                     Altaba Inc.
AAL     American Airlines Group Inc.
AAP         Advance Auto Parts, Inc.

### Apply blacklist

In [5]:
blacklist = [*map(lambda s: s.strip(), open('data/blacklist').readlines())]
prev_size = len(stocks)
stocks = stocks.drop(blacklist, errors='ignore')
print('Totaly: %i stocks, %i were deleted' % (len(stocks), prev_size - len(stocks)))

Totaly: 656 stocks, 0 were deleted

### Apply whitelist

In [40]:
shortlist = []
shortlist = [*map(lambda s: s.strip(), open('data/shortlist').readlines())]
if shortlist:
    prev_size = len(stocks)
    stocks = stocks.loc[shortlist]
    print('Totaly: %i stocks, %i were deleted' % (len(stocks), prev_size - len(stocks)))
    stocks[:5]

Totaly: 12 stocks, 644 were deleted

## Download prices history

In [41]:
history_type = 'daily'
# history_type = 'monthly'

In [42]:
av = stock.AlphaVantage()
prices = {}
i = 0
total = len(stocks.index)
for symbol in stocks.index:
    i += 1
    try:
        print('[%i/%i] Loading symbol "%s" ...' % (i, total, symbol))
        if history_type == 'monthly':
            prices_history = av.monthly_adjusted(symbol=symbol)
        elif history_type == 'daily':
            prices_history = av.daily_adjusted(symbol=symbol)
        else:
            raise Exception('Unknown history type: {}'.format(history_type))
        res = 'OK' if stock.ok(prices_history) else (prices_history if type('') == type(prices_history) else 'FAIL')
        print('[%i/%i] Loading symbol "%s" - "%s"' % (i, total, symbol, res))
    except Exception as exc:
        prices_history = None
        print('[%i/%i] Symbol "%s" exception: %r' % (i, total, symbol, exc))
    prices[symbol] = prices_history
    if i < total:
        time.sleep(4)

[1/12] Loading symbol "ADBE" ...
[1/12] Loading symbol "ADBE" - "OK"
[2/12] Loading symbol "RACE" ...
[2/12] Loading symbol "RACE" - "OK"
[3/12] Loading symbol "INTU" ...
[3/12] Loading symbol "INTU" - "OK"
[4/12] Loading symbol "MA" ...
[4/12] Loading symbol "MA" - "OK"
[5/12] Loading symbol "NDAQ" ...
[5/12] Loading symbol "NDAQ" - "OK"
[6/12] Loading symbol "NFLX" ...
[6/12] Loading symbol "NFLX" - "OK"
[7/12] Loading symbol "RHT" ...
[7/12] Loading symbol "RHT" - "OK"
[8/12] Loading symbol "CRM" ...
[8/12] Loading symbol "CRM" - "OK"
[9/12] Loading symbol "TROW" ...
[9/12] Loading symbol "TROW" - "FAIL"
[10/12] Loading symbol "TXN" ...
[10/12] Loading symbol "TXN" - "FAIL"
[11/12] Loading symbol "UNH" ...
[11/12] Loading symbol "UNH" - "FAIL"
[12/12] Loading symbol "V" ...
[12/12] Loading symbol "V" - "FAIL"

## Try to download failed positions again

In [45]:
i = 0
total = len(prices)
for (symbol, res) in prices.items():
    i += 1
    if stock.ok(res):
        print('[%i/%i] Symbol "%s" - "OK"' % (i, total, symbol))
        continue
    try:
        print('[%i/%i] Loading symbol "%s" ("%s") ...' % (i, total, symbol, stocks['name'].loc[symbol]))
        if history_type == 'monthly':
            prices_history = av.monthly_adjusted(symbol=symbol)
        elif history_type == 'daily':
            prices_history = av.daily_adjusted(symbol=symbol)
        else:
            raise Exception('Unknown history type: {}'.format(history_type))
        res = 'OK' if stock.ok(prices_history) else (prices_history if type('') == type(prices_history) else 'FAIL')
        print('[%i/%i] Loading symbol "%s" ("%s") - "%s"' % (i, total, symbol, stocks['name'].loc[symbol], res))
    except Exception as exc:
        prices_history = None
        print('[%i/%i] Symbol "%s" exception: %r' % (i, total, symbol, exc))
    prices[symbol] = prices_history
    if i < total:
        time.sleep(5)

[1/12] Symbol "ADBE" - "OK"
[2/12] Symbol "RACE" - "OK"
[3/12] Symbol "INTU" - "OK"
[4/12] Symbol "MA" - "OK"
[5/12] Symbol "NDAQ" - "OK"
[6/12] Symbol "NFLX" - "OK"
[7/12] Symbol "RHT" - "OK"
[8/12] Symbol "CRM" - "OK"
[9/12] Symbol "TROW" - "OK"
[10/12] Symbol "TXN" - "OK"
[11/12] Symbol "UNH" - "OK"
[12/12] Symbol "V" - "OK"

### Remove invalid symbols

In [46]:
prices.pop('LLY.TI', None)
prices.pop('Symbol', None)
prices.pop('VNE$', None)
prices.pop('ZB^A', None)

### List symbols with invalid prices history

In [47]:
invalid_prices = dict([*filter(lambda item: not item[1], prices.items())])
prices = dict([*filter(lambda item: item[1], prices.items())])
print('Invalid prices for symbols: %s' % ', '.join(invalid_prices.keys()))

Invalid prices for symbols:

## Represet prices history as list of DataFrames

In [48]:
def month_prices_to_dataframe(symbol, prices):
    d = [(symbol, date, price.open, price.close, price.volume, price.high, price.low) for (date, price) in prices.items()]
    return pandas.core.frame.DataFrame(d, columns=['symbol', 'date', 'open', 'close', 'volume', 'high', 'low'])

In [49]:
prices_dataframes = []
for (symbol, month_prices) in prices.items():
    df = None
    try:
        df = month_prices_to_dataframe(symbol, month_prices)
        prices_dataframes.append(df)
    except Exception as exc:
        print('DataFrame for symbol "%s" - FAIL' % symbol)

## Save DataFrames with symbols prices history to "./hostory" directory

In [50]:
def save_dataframe(dir_path, df):
    path = os.path.join(dir_path, df['symbol'][0] + '.csv')
    df.to_csv(path)

In [51]:
if history_type == 'monthly':
    history_path = 'history'
elif history_type == 'daily':
    history_path = 'history_daily'
else:
    raise Exception('Unknown history type: {}'.format(history_type))
for df in prices_dataframes:
    save_dataframe(history_path, df)

### Test saved data

In [52]:
pandas.read_csv(history_path + '/A.csv', index_col=0)

   symbol        date       open    close   volume       high        low
0       A  2018-07-18  63.030000  62.9900  1202284  63.230000  62.750000
1       A  2018-07-17  62.520000  63.0400  1469834  63.260000  62.150000
2       A  2018-07-16  63.230000  62.7200   929264  63.230000  62.630000
3       A  2018-07-13  63.520000  63.3800   963652  63.830000  63.210000
4       A  2018-07-12  63.330000  63.4500  1748125  63.780000  63.290000
5       A  2018-07-11  62.590000  62.8600  1780485  63.280000  62.590000
6       A  2018-07-10  63.370000  63.6700  1924366  63.740000  63.070000
7       A  2018-07-09  62.430000  63.1200  1508550  63.315000  62.430000
8       A  2018-07-06  61.920000  62.2900  2269660  62.400000  61.650000
9       A  2018-07-05  61.480000  61.8000  2247532  61.890000  60.910000
10      A  2018-07-03  61.930000  61.2500   864379  62.090000  61.060000
11      A  2018-07-02  61.360000  61.4700  1526468  61.480000  60.790000
12      A  2018-06-29  61.530887  61.6905  1942768  62.313989  61.421153
13      A  2018-06-28  60.982187  61.1418  1564067  61.490954  60.273904
14      A  2018-06-27  62.109493  60.9922  2025823  62.847704  60.952297
15      A  2018-06-26  61.081914  61.8301  3655622  62.169278  60.872422
16      A  2018-06-25  62.308953  61.0520  2426792  62.538397  60.652967
17      A  2018-06-22  63.426290  62.6382  3621863  63.536024  62.578345
18      A  2018-06-21  62.658156  62.8876  4319387  63.067165  62.119461
19      A  2018-06-20  63.386387  62.6382  4942091  63.415317  62.478587
20      A  2018-06-19  64.064707  63.3664  4621382  64.294151  63.047174
21      A  2018-06-18  65.321667  64.8129  2563129  65.381522  64.373964
22      A  2018-06-15  65.950148  65.9701  4113230  66.079834  65.032373
23      A  2018-06-14  66.289362  66.1497  3487894  66.289362  65.551150
24      A  2018-06-13  66.438978  66.0998  4357708  66.518785  65.810501
25      A  2018-06-12  65.810447  66.1596  2006950  66.389044  65.471269
26      A  2018-06-11  65.521188  65.9701  3316711  66.588601  65.431406
27      A  2018-06-08  65.192019  65.5711  3853848  66.209553  64.992502
28      A  2018-06-07  65.251865  65.0723  2977186  65.930221  64.643340
29      A  2018-06-06  63.595881  65.0324  3177630  65.032400  62.907549
..    ...         ...        ...      ...      ...        ...        ...
70      A  2018-04-09  64.763053  65.0324  2639750  66.089837  63.925083
71      A  2018-04-06  64.852812  63.4961  3578587  65.401482  63.226753
72      A  2018-04-05  65.660862  65.5212  2120181  66.149677  65.341635
73      A  2018-04-04  63.994844  65.2917  5084054  65.486228  63.491066
74      A  2018-04-03  64.782961  65.2618  2286132  65.720688  64.463735
75      A  2018-04-02  66.488832  64.2742  3085753  66.808058  63.575893
76      A  2018-03-29  66.434908  66.5842  2711285  67.260990  65.797929
77      A  2018-03-28  66.902730  66.0866  2267763  67.061975  65.499385
78      A  2018-03-27  68.156815  66.6838  2018736  68.306107  66.225971
79      A  2018-03-26  66.882820  67.8781  1601171  67.962699  66.340392
80      A  2018-03-23  67.261026  65.7482  1803736  67.828335  65.628766
81      A  2018-03-22  68.375795  67.1516  1667733  68.873436  67.012261
82      A  2018-03-21  69.550134  69.0724  1558358  69.759143  69.032589
83      A  2018-03-20  69.440678  69.5203  2355102  69.739262  69.122188
84      A  2018-03-19  69.460576  69.0127  2501900  69.978121  68.734022
85      A  2018-03-16  69.590006  69.5701  3301577  70.008023  68.724112
86      A  2018-03-15  69.759225  69.8488  2490222  70.326535  69.540263
87      A  2018-03-14  70.734572  69.5900  1825085  70.824148  69.361782
88      A  2018-03-13  70.664890  70.3464  1573113  71.182435  70.087627
89      A  2018-03-12  70.863988  70.3763  1858146  71.192430  70.336489
90      A  2018-03-09  69.938359  70.7943  1869878  71.162554  69.669633
91      A  2018-03-08  69.390914  69.5203  2365939  69.938318  68.863415
92      A  2018-03-07  67.042045  69.3710  3125788  69.525268  66.982329
93      A  2018-03-06  67.460058  67.7885  2944632  68.097037  67.131615
94      A  2018-03-05  66.932616  67.2312  1890858  67.529784  66.196108
95      A  2018-03-02  66.504656  67.1914  2057260  67.360598  66.335459
96      A  2018-03-01  68.146856  67.0620  2401795  68.475298  66.474785
97      A  2018-02-28  69.092383  68.2663  2657196  69.669646  68.246394
98      A  2018-02-27  70.416039  68.6743  3277061  70.585237  68.674300
99      A  2018-02-26  70.664918  70.2469  5422043  70.873927  69.679590

[100 rows x 7 columns]